//- Vendor scripts and styles
- var vendorStyles = []
- var vendorScripts = []

//- Body background color
- var bodyBgColor = ''

//- Page title
- var pageTitle = 'Directory & Listings Bootstrap Template'
- var pageSubtitle = ''
- var pageTitleLink = {}

//- Anchor navigation
- var anchorNav = []

//- Conditionals
- var isPageTitleBadge = false
- var isNestedFile = false
- var isTagManager = false
- var isPageLoading = true
- var isDemoSwitcher = false

//- Active menu item
- var parentMenu

//- Body class
- var bodyClass = ''
